<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>391673138123-ng9rva62m3gchl4427hjdrei777cgbjh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.391673138123-ng9rva62m3gchl4427hjdrei777cgbjh</string>
	<key>API_KEY</key>
	<string>AIzaSyAq42o8kuVOy9wqK9i6ftxu5vfE4R0ICF0</string>
	<key>GCM_SENDER_ID</key>
	<string>391673138123</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.macmartins.NQb8</string>
	<key>PROJECT_ID</key>
	<string>nqb8-151c3</string>
	<key>STORAGE_BUCKET</key>
	<string>nqb8-151c3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:391673138123:ios:86ba58234f1af22491444e</string>
</dict>
</plist>